wordWrap = hexo-config('code_word_wrap')
code-font-size = 0.85em
code-font-family = JetBrains Mono, SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace

highlight-border-color = #d0d7de

//@require 'prismjs/index'

// https://github.com/PrismJS/prism-themes
@import "prism-vsc-dark-plus.css"

#post
  //pre
  //  background #f7f7f7
  pre, code
    overflow auto
    font-size code-font-size
    font-family code-font-family !important
    border-radius 1em
